@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=VT323&display=swap');
@layer base {
    :root {
        --primary: #0B0C10;
        --secondary: #1F2833;
        --primary-text: #66FCF1;
        --secondary-text: #C5C6C7;
        --borders: #45A29E;


    }

    ::-webkit-scrollbar {
        width: 0;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(13deg, #FBBF24 22%, #1E3A8A 65%);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(13deg, #FF0000 14%, #FFFFFF 64%);
    }

    ::-webkit-scrollbar-track {
        background: #1E3A8A;
        border-radius: 0px;
        box-shadow: inset 7px 10px 12px 30px #91ADFF;
    }

    html, body {
        overflow-x: hidden;
        background-color: var(--primary);
    }

    header {
        height: 80px;
        background-color: var(--borders);
    }

    .links {

        @apply mr-2 cursor-pointer uppercase sm:text-2xl md:text-3xl lg:text-4xl;
    }

    .collegamenti {
        position: absolute;
        z-index: 10;
        width: 100vw;
        height: 150px;
        top: 80px;
        background-color: var(--borders);
        color: var(--secondary);
        padding: 5px;
        font-size: 1.4rem;
    }

    .links:hover .dropdown {
        @apply flex absolute;
        right: 2px;
    }

    .links:hover span:nth-child(2) {
        @apply text-red-600
    }

    .links:hover span:first-child {
        @apply text-red-600 animate-ping
    }

    .fa-hamburger, .fa-bars {
        color: var(--secondary);
        background-color: transparent;
        font-size: 45px;
    }

    .fa-hamburger {
        display: none;
        color: #5a0909;
    }

    .hamburger:hover .fa-bars {
        display: none;
    }

    .hamburger:hover .fa-hamburger {
        display: block;
    }

    .hide {
        display: none !important;
    }

    .titolo {
        /* position: absolute;
         transform: rotate(-41deg) translate(36%);
         z-index: 2;
         top: 162px;*/
        z-index: 2;
        color: var(--secondary);
        @apply xs:text-3xl font-extrabold cursor-pointer;
    }

    .titolo span {
        @apply text-red-600 animate-ping;
    }

    .dropdown {
        @apply text-2xl p-2;
    }

    .dropdown.contatti {
        border: 2px solid var(--borders);
        background-color: var(--secondary);
        color: var(--primary-text);
    }

    .dropdown li {
        @apply cursor-pointer hover:text-red-600;
    }

    main {
        height: calc(100vh - 80px);
        max-width: 100vw;
        padding-top: 150px;
        overflow-y: scroll;
        @apply text-5xl text-yellow-400;
    }
    .jumbo {
        @apply px-16;
    }

    .jumbo h2 {
        color: var(--primary-text);
        white-space: nowrap;
        @apply xs:text-3xl w-full pl-3 mt-8;
    }

    .jumbo h3 {
        color: var(--secondary-text);
        white-space: nowrap;
        @apply lg:text-7xl md:text-5xl sm:text-3xl text-3xl text-white pl-3 mt-8;
    }

    .jumbo h4 {
        color: var(--secondary-text);
        white-space: nowrap;
        @apply lg:text-6xl md:text-4xl sm:text-2xl text-2xl text-white pl-3;
    }

    .partners {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;
        width: 50px;
        height: 130px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        left: 0;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0, -50%);
        background-color: var(--borders);
        color: var(--secondary)
    }

    .partners span {
        white-space: nowrap;
        transform: rotate(-90deg);
    }

    .onda-triangolare {
        top: 79px;
        position: absolute;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 2;
        transform: rotate(180deg);
    }

    .onda-triangolare svg {
        position: relative;
        display: block;
        width: 100%;
        height: 150px;
    }

    .onda-triangolare .shape-fill {
        fill: var(--borders);

    }

    .jumbo-hard-skills {
        font-size: 20px;
    }

    .jumbo-hard-skills h2 {
        font-size: 40px;
        color: var(--primary-text);
    }

    .jumbo-hard-skills h3 {
        font-size: 30px;
        color: var(--borders);
    }

    .jumbo-hard-skills ul li {
        /*margin-right: 20px;*/
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--secondary-text);
        @apply xs:w-1/2 sm:m-1 ;
    }

    .jumbo-hard-skills ul li img {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
    }

    .jquery {
        filter: invert(1);
    }

    .jumbo-hard-skills p {
        color: var(--primary-text);
    }

    .jumbo-hard-skills p a {
        text-decoration: underline;
    }

    .soft-skills li {
        @apply xs:text-3xl xs:whitespace-nowrap
    }

    aside.about img {

        border-radius: 10px;
    }

    .jumbo-about {

    }

    .jumbo-about p {
        /*font-family: 'Montserrat', sans-serif;*/
        font-size: 1.6rem;
        line-height: 25px;
        text-align: justify;
        color: var(--secondary-text);
    }

    .jumbo-about mark {
        color: #930000;
        background-color: transparent;
    }

    .jumbo-portfolio ul {
        color: var(--primary-text);
    }

    .left {

    }

    .left, img {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        max-height: 100%;
        min-width: 100%;
    }

    .left img {
        object-fit: cover;
        object-position: 0 0;

    }

    .right {
        padding: 5px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 20px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @apply sm:border-2 sm:border-red-800
    }

    .sito > div {
        border: 2px solid darkred;
        @apply xs:rounded-tl-xl xs:rounded-tr-xl sm:border-0;
    }

    .sito-titolo {
        font-size: 30px;
        color: var(--primary-text);
        margin-bottom: 5px;
    }

    .sito-desc {
        margin-bottom: 3px;
        color: var(--secondary-text);
    }
}
